<EditForm Model="@supplyCategory" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />    
    <div class="form-group col-md-10 p-0">
        <label for="Name">Nome<span class="text-danger">*</span></label>
        <div>
            <InputText @bind-Value="@supplyCategory.Name" id="Name" class="form-control" />
            <ValidationMessage For="@(() => supplyCategory.Name)" />
        </div>
    </div>
    <div class="form-group col-md-10 p-0">
        <label for="Description">Descrição<span class="text-danger">*</span></label>
        <div>
            <InputText @bind-Value="@supplyCategory.Description" id="Description" class="form-control" />
            <ValidationMessage For="@(() => supplyCategory.Description)" />
        </div>
    </div>    
    <button class="btn btn-success" type="submit" @onclick:stopPropagation>@ButtonTextSubmit</button>
    <button class="btn btn-danger" @onclick="@(() =>  navigator.NavigateTo("/SupplyCategory"))">@ButtonTextCancel</button>
</EditForm>

@code {

    [Inject]
    public NavigationManager navigator { get; set; }

    [Parameter]
    public SupplyCategory supplyCategory { get; set; } = new SupplyCategory();

    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";

    [Parameter]
    public string ButtonTextCancel { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}
